version: '1'

services:
  user-service:
    container_name: user-service
    # Specify the build context for the user service
    build:
      context: ./user
      dockerfile: Dockerfile
      
    # Map the host port to the container port
    ports: 
      - "8080:8080"
    
    networks:
      - be-network
  
  user-db:
    image: postgres:15
    env_file:
      - ./user-db.env
    ports:
      - "5433:5432"
    volumes:
      - user_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - be-network

  product-service:
    container_name: portfolio-service
    # Specify the build context for the backend
    build:
      context: ./portfolio
      dockerfile: Dockerfile
    # Map the host port to the container port
    ports:
      - "8081:8081"

    networks:
      - be-network
  
  portfolio-db:
    image: postgres:15
    env_file:
      - ./portfolio-db.env
    ports:
      - "5434:5432"
    volumes:
      - portfolio_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - be-network

  portfolio-redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - portfolio_redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped
    networks:
      - be-network


  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - be-network

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - be-network

  kafdrop:
    image: obsidiandynamics/kafdrop:latest
    container_name: kafdrop
    depends_on:
      - kafka
    ports:
      - "9000:9000"
    environment:
      KAFKA_BROKERCONNECT: kafka:9092
    networks:
      - be-network

  notification-service:
    container_name: email-service
    depends_on:
      - kafka
    build:
      context: ./notification
      dockerfile: Dockerfile
      
    ports: 
      - "8082:8082"
    
    networks:
      - be-network

prometheus:
  image: prom/prometheus:latest
  container_name: prometheus
  command:
    - '--config.file=/etc/prometheus/prometheus.yml'
  volumes:
    -  ./config/prometheus.yml:/etc/prometheus/prometheus.yml
    - prometheus-data:/prometheus
  ports:
    - "9090:9090"
  networks:
    - be-network

grafana:
  image: grafana/grafana-oss:latest
  container_name: grafana
  volumes:
    - grafana-data:/var/lib/grafana
  ports:
    - "3000:3000"
  networks:
    - be-network

jaeger: 
  image: jaegertracing/all-in-one:latest
  container_name: jaeger
  ports:
    - "4317:4317"
    - "4318:4318"
    - "16686:16686"
  networks:
    - be-network

networks: 
  be-network:
    driver: bridge
  
volumes:
  user_data:
  portfolio_data:
  portfolio_redis_data:
  prometheus-data:
  grafana-data:
